
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css"ng- rel="stylesheet" type="text/css" media="all"/ >
    <meta name="viewport" content="width=device-width" />
    <title>主页</title>
</head>
<body>
    <div class="title" backgroud="~/Image/Index/Background.jpg">
        <h1>欢迎使用系统</h1>
    </div>
</body>

